/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background-color: #3498db;
  background: linear-gradient(to top, #3498db 50%, white 25%);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.bold-text {
  font-weight: 600;
}

.color-text {
  color: blue;
}

.download {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.rightsection {
  width: 20%;
  margin-top: 200px;
  margin-right: 500px;
}

.phoneimg {
  margin: 100px;
}

.paragraph {
  margin-right: 50%;
  margin-left: 5%;
}

footer {
  text-align: center;
}

.textalign {
  text-align: center;
}
